@using SerwisOgloszeniowy.Models
@using SerwisOgloszeniowy.Models.AuctionModels
@model PaginatedList<SerwisOgloszeniowy.Models.AuctionModels.AuctionModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/AuctionList.css">
<div class="container py-5">
    <div class="row text-center text-black mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Moje ogłoszenia</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30px">
        <div class="col-lg-8 mx-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="row">
                        <div class="col-sm-7 mx-auto">
                            @if (@Model.Count != 0)
                            {
                                <form class="card card-sm mx-auto" method="get">
                                    <div class="search-box justify-content-center mx-auto" style="margin-bottom:5px; display:grid;">
                                        <input asp-for="SearchTerm" name="SearchTerm" type="text" class="form-control" placeholder="Wpisz tytuł ogłoszenia" style="margin-bottom: 5px;">
                                        <select asp-for="CategorySearch" id="kategoria" class="form-control" style="margin-bottom: 5px;">
                                            <option value="">Wybierz kategorię</option>
                                            <option value="Moda">Moda</option>
                                            <option value="Elektronika">Elektronika</option>
                                            <option value="Motoryzacja">Motoryzacja</option>
                                            <option value="Dom i ogród">Dom i ogród</option>
                                            <option value="Sport i hobby">Sport i hobby</option>
                                            <option value="Zwierzęta">Zwierzęta</option>
                                            <option value="Nieruchomości">Nieruchomości</option>
                                        </select>
                                        <button type="submit" class="btn btn-success mx-auto">Wyszukaj</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <h5 style="text-align:center">Brak ogłoszeń</h5>
                            }
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
        </div>
    </div>
    @foreach (var auction in Model)
    {

        <a asp-controller="Auction" asp-action="AuctionDetails" asp-route-id="@auction.Id" style="text-decoration:none; color:inherit;">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- List group-->
                <ul class="list-group shadow">
                        <!-- list group item-->
                    <li class="list-group-item">
                            <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h5 class="mt-0 font-weight-bold mb-2">@auction.Title</h5>
                                    <p class="font-italic text-muted mb-0 small">
                                        @if (@auction.Description.Length < 100)
                                        {
                                            @auction.Description
                                        }
                                        else
                                        {
                                            @(auction.Description.Substring(0, 100) + " (...)")
                                        }
                                    </p>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <h6 class="font-weight-bold my-2">@auction.Price zł</h6>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <p class="font-italic text-muted mb-0 small">@auction.CreationTimestamp | @auction.City</p>
                                    </div>
                                </div>
                                @if(auction.Image != null)
                                {
                                <img src="data:image;base64,@Convert.ToBase64String(auction.Image)" width="200" height="200" class="ml-lg-5 order-1 order-lg-2">
                                }
                            </div> <!-- End -->
                    </li> <!-- End -->
                </ul> <!-- End -->
            </div>

            </div>
        </a>
    }
    <div class="row" style="margin-top: 30px">
        <nav class="mx-auto">
            <ul class="pagination">
                @if (@Model.Count != 0)
                {
                    <li class="page-item"><a class="page-link" @prevDisabled asp-action="AuctionList" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a></li>
                    <li class="page-item"><a class="page-link" @nextDisabled asp-action="AuctionList" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>
